html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

/* 
 COLOR PALETTE
 -------------
    04080F
    507DBC
    A1C6EA
    BBD1EA
    DAE3E5
*/

header {
    width: 100%;
    height: 70vh;
    min-height: 700px;
    background-color: #507DBC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-wrap {
    color: white;
}

nav {
    width: 100%;
    background-color: #BBD1EA;
    position: fixed;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0px;
}

nav ul li {
    padding-bottom: 5px;
    margin-right: 15px;
    border-bottom: 2px solid transparent;
    transition: border-color .6s ease;
    font-size: 1.2em;
}

nav ul li:hover {
    border-color: #507DBC;
}

.linkSelected {
    border-color: #507DBC;
}

.navLink {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}