---
import GithubIcon from './Icons/GithubIcon.astro';
import LinkedinIcon from './Icons/LinkedinIcon.astro';
import PlaceIcon from './Icons/PlaceIcon.astro';

const LINKS = [
  {
    Icon: GithubIcon,
    url: 'https://github.com/MiYazJE',
    title: 'Github',
  },
  {
    Icon: LinkedinIcon,
    url: 'https://www.linkedin.com/in/rubensaizs/',
    title: 'Linkedin',
  },
];
---

<div class="flex flex-col gap-[24px] mt-[180px]">
  <header>
    <span class="flex items-center gap-3">
      <img
        alt="Foto de Rubén, desarrollador full stack"
        src="/images/me.jfif"
        class="rounded-full h-[100px]"
      />
      <h1
        class="text-3xl md:text-5xl font-extrabold mb-2 text-gray-900 dark:text-dark-gray-900"
      >
        Hi, I’m Rubén
      </h1>
    </span>
  </header>
  <p class="text-sm md:text-lg">
    I am a skilled <span class="font-bold text-emerald-500"
      >Full-Stack Developer</span
    > with a passion for creating robust, scalable, and maintainable web applications.
    With expertise in both front-end and back-end technologies, I specialize in leveraging
    Node.js and React to build dynamic and high-performance solutions. My commitment
    to applying design patterns, particularly SOLID principles and clean code practices,
    ensures that my projects are not only functional but also efficient and sustainable.
  </p>
  <div class="flex gap-[6px] items-center">
    <PlaceIcon />
    <span>Valencia, Spain 🇪🇸</span>
  </div>
  <div class="flex gap-[6px]">
    {
      LINKS.map((link) => (
        <a
          href={link.url}
          target="_blank"
          class="py-[4px] px-[10px] rounded-xl bg-gray-600 text-gray-50 dark:bg-gray-50 dark:text-gray-600 flex items-center gap-1"
        >
          {<link.Icon />}
          <span>{link.title}</span>
        </a>
      ))
    }
  </div>
</div>
