---
import DarkModeIcon from './Icons/DarkModeIcon.astro';
import LightModeIcon from './Icons/LightModeIcon.astro';
---

<button
  id="theme-btn"
  class="rounded-full appearance-none border-none flex hover:scale-125 transition"
>
  <DarkModeIcon class="hidden dark:inline" />
  <LightModeIcon class="dark:hidden" />
</button>

<script is:inline>
  let remove = null;
  const matchMedia = window.matchMedia('(prefers-color-scheme: dark)');

  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined') {
      return localStorage.getItem('theme') ?? 'dark';
    }

    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
  };

  const updateTheme = () => {
    if (remove != null) {
      remove();
    }
    matchMedia.addEventListener('change', updateTheme);
    remove = () => {
      matchMedia.removeEventListener('change', updateTheme);
    };

    const themePreference = getThemePreference();
    const isDark = themePreference === 'dark';

    document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
  };

  updateTheme();

  document.getElementById('theme-btn')?.addEventListener('click', () => {
    const newValue = localStorage.theme === 'dark' ? 'light' : 'dark';
    localStorage.setItem('theme', newValue);
    updateTheme();
  });
</script>
